$font-family-primary: "Roboto";

$primary-color: #393939;
$primary-hover-color: #555;
$primary-active-color: #1b1b1b;
$secondary-color: #1989f1;
$secondary-hover-color: #e8e8e8;
$secondary-active-color: #d4d4d4;
$surface-color: #f2f2f2;
$surface-table-scroll-head-color: #fff;
$side-hover-color: #484848;
$link-color: #2f80ed;
$input-border-color: #c5d0dc;
$border-color: #d5d5d5;
$close-icon: #9c9c9c;
$background-color: #fff;
$not-approved-color: #828282;
$approved-color: #2d9cdb;
$error-color: #eb5757;
$error-color-hover: #e13333;
$error-color-active: #af2121;
$tab-slider-text-color: #7d8691;
$tap-slider-button-border-color: #e2e2e2;
$tab-slider-color: #f3f3f3;
$disabled-button: #cdcdcd;
$toster-warning-back: #ffa000;
$toster-info-back: #1976d2;
$toster-success-back: #43a047;
$checkbox-border-color: rgba(33, 33, 33, 0.54);
$recommended-color: #7d8690;
$close-color: #848484;
$spoiler-text-color: #324a5e;
$spoiler-content-background: #f6f6f6;
$spoiler-active-header-background: #dcdbdb;
$delete-icon-color: #eb5757;
$edit-icon-color: #43a047;

$warn-icon-size: 16px;
$header-height: 45px;
$main-side-width: 250px;
$side-width: 200px;
$form-group-height: 30px;
$dialog-footer-height: 50px;
$button-height: 33px;

$actions-height: 33px;
$card-tab-height: 58.84px;
$tab-height: 35px;
$title-header-height: 25px;

$right-table-header-margin: 17px;

$unfrozenColWidth: 178px;

$billing-filter-container-background: #f2f2f2;
$billing-filter-head-color: #393939;
