<appSettings>
  <!-- Время срабатывания службы -->
  <add key="CrsDacPacName" value="new_db.dacpac" />
  <!-- Время срабатывания службы -->
  <!-- <add key="TriggerAt" value="03:30;07:30;13:30;15:30;19:30;23:30" /> -->

  <add key="TriggerAt" value="15:40" />
  <add key="NSI" value="13:37" />
  <add key="OIS" value="13:37" />
  <add key="1" value="13:37" />
  <add key="2" value="13:37" />
  <add key="3" value="13:37" />
  <add key="4" value="13:38" />
  <add key="SMB" value="13:38" />
  <add key="6" value="13:00" />
  <!--Отправляет уведомления о несопоставленных договорах.-->
  <add key="9" value="13:43" />
  <!--Отправляет уведомления об отсутствующих документах.-->
  <add key="10" value="13:44" />
  <!--Отправляет уведомления о несопоставленных подрядчиках в СМБ с подрядчиками в SAP-->
  <add key="11" value="8:00" />
  <!--Дни недели по которым нужно рассылать уведомления  о несопоставленных подрядчиках в СМБ с подрядчиками в SAP-->
  <add key="daysOfWeek" value="1;3"/>

  <!--Конфигурация для настроек рассылки отчетов-->
  <!--1. Часы, в которые будет опрашиваться бэкенд Цереры для получения настроек рассылки-->
  <add key="Dashboards" value="00:00;01:00;02:00;03:00;04:00;05:00;06:00;07:00;08:00;15:20" />
  <!--2. День недели (если выбрана частота рассылки - еженедельно)-->
  <add key="dayOfWeek" value="2"/>
  <!--3. День месяца (если выбрана частота рассылки - ежемесячно)-->
  <add key="dayOfMonth" value="9"/>

  <add key="CrsStat" value="true" />
  <add key="DrillProjectApi" value="http://10.50.30.216/drillproject/" />
  <add key="CrsReportApi" value="http://localhost:13031/" />
  <add key="SchedulerApi" value="http://localhost/" />
  <add key="InMemoryReports" value="True" />
  <add key="ReportsTemplatesPath" value="e:\Logs_petrosyanchiny\smb2crs\ReportsTemplatesPath" />
  <!-- Таймаут при запросах к БД при интеграции СМБ, сек -->
  <add key="SmbIntegrationTimeOut" value="180" />
  <!-- <add key="UnmatchedSapSmbRecipietns" value="CRS_FIN_MANAGER;GAZPROM-NEFT\PODVITSKIY.DV;gazprom-neft\Semenenko.AF" /> -->
  <add key="OPER_GPN_NNG" value="09:00" />
  <add key="OPER_GPN_ORN" value="09:00" />
  <add key="OPER_GPN_Vostok" value="09:00" />
  <add key="OPER_GPN_Hantos" value="09:00" />
  <add key="OPER_GPN_NPORT" value="09:00" />
  <add key="OPER_GPN_MNG" value="09:00" />

  <add key="DisableLoadNsiField" value="false" />
  <add key="DisableLoadNsiOilField" value="false" />
  <add key="LoggingLoadNsi" value="false" />

  <!--Конфигурация для интеграции Эра-ремонты-->
  <add key="ApiUrlEra" value="http://spb99-erapp01:88/api/Smb/CereraData?uidSmb=" />
  <add key="User" value="gazprom-neft\smdrilling" />
  <add key="Password" value="1QSC2wdv" />
  <!--Дни недели-->
  <add key="UpdateDay" value="1;3;5" />
</appSettings>
