<connectionStrings>
  <clear />

  <add name="PetroviserDatabaseServer" connectionString="Data Source=.;Initial Catalog=WSREPORT;User ID=sa;Password=1qaZXsw2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PetroviserDatabaseServer.sys" connectionString="Data Source=localhost,5533;Initial Catalog=CRS_SYS;User ID=sa;Password=yourStrong(!)Password;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PetroviserDatabaseServer.Prj" connectionString="Data Source=localhost,5533;Initial Catalog=SMBREPORT_Avv;User ID=sa;Password=yourStrong(!)Password;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />



  <!--<add name="PetroviserDatabaseServer" connectionString="Data Source=gpnsqltest;Initial Catalog=newreport;User ID=user;Password=2wsXCde3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PetroviserDatabaseServer.sys" connectionString="Data Source=gpnsqltest; Initial Catalog=smbsys;User ID=user;Password=2wsXCde3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PetroviserDatabaseServer.Prj" connectionString="Data Source=gpnsqltest;Initial Catalog=NEWREPORT;User ID=user;Password=2wsXCde3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->


  <!--<add name="OisProduction" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=Db5555;Password=Db5555;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.50.24.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SPB99ORA01)))" />
  <add name="PetroviserDatabaseServer.sys" connectionString="Data Source=.;Initial Catalog=udpsys_gpn;User ID=sa;Password=1qaZXsw2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PetroviserDatabaseServer.Prj" connectionString="Data Source=.;Initial Catalog=SMBREPORT;User ID=sa;Password=1qaZXsw2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
</connectionStrings>
