<appSettings>
  <!--Какой фильтр использовать - деревянный или квадратики(pivot) -->
  <add key="UsePivotFilter" value="true" />
  <!--<add key="DefaultServerUrl" value="net.tcp://10.50.30.221:212" />-->
  <!--<add key="DefaultServerUrl" value="net.tcp://192.168.20.21:212" />-->
  <!--<add key="DefaultServerUrl" value="net.tcp://localhost:212" />-->
  <!-- Фильровать дерево объектов в соответствии с правами доступа -->
  <add key="FilterWithAccessRights" value="true" />
  <!--
    Допустимые значения:         
        HeadOffice, (КЦ)
        RegionalOffice, (ДО, ДЗО или НГДО)
        RegionalOfficeWithBranches, (ТПП)
      -->
  <add key="InstallationNode" value="HeadOffice" />
  <add key="Vendor" value="69999" />
  <add key="InMemoryReports" value="True" />
  <add key="ReportsTemplatesPath" value="C:\Temp\ceres\Templates" />
  <add key="PsdRoot" value="E:\DATA\CERES\PSD" />
</appSettings>
